@charset 'utf-8';

.annouce {
  height: 90px;
}

.help-list {
  background-color: #eee;
  padding: 45px 0 60px;
}

.copyright {
  height: 62px;
  background-color: #f2f2f2;
  border-top: 1px solid #fff;
}
